
/* Shared styles */
.primary-font{
    font-family: 'Inter', sans-serif;
}

.secondary-font{
    font-family: 'Raleway', sans-serif;
}

.primary-color{
    color: #4E47FF;
}

.secondary-color{
    color: #252432
}

.tertiary-color{
    color: #252432;
    opacity: 0.5;
}

.quaternary-color{
    color: #cfcedf;
    opacity: 0.1;
}

body{
    background-color: #f2f1fd;
    margin: 0;
    padding: 0;
}

/* Header and Nav styles */

.header{
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 80vh;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    align-items: center;
    margin-bottom: 158px;
}

.header-logo{
    font-size: 34px;
    font-weight: bolder;
}

.primary-btn{
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #4E47FF;
    padding: 12px 36px 12px 36px;
    border-style: none;
}

.header-description{
    text-align: center;
}

.header-description-title{
    font-size: 65px;
    font-weight: 900;
}

/* Main Body 1 styles */

.main-body1{
    margin-top: 116px;
    display: flex;
    gap: 220px;
    justify-content: center;
    align-items: center;
}

.main-body1-title{
    font-size: 42px;
    font-weight: bold;
}

.main-body1-description{
    font-size: 24px;
}

.main-body1 img{
    border-radius: 48px;
}

/* Main Body 2 styles */

.main-body2 {
    margin-top: 116px;
    margin-left: 141px;
    margin-right: 159px;
    border-radius: 24px;
    background-color: rgba(78, 71, 255, 0.1); /* Light purple background */
    color: #4E47FF; /* Keep text color solid */
}

.main-body2-title{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    padding: 50px 120px 50px 120px;
}

.main-body2-description{
    display: flex;
    justify-content: center;
    gap: 127px;
    padding-bottom: 50px;
}

.main-body2-description-number{
    font-size: 80px;
    font-weight: bold;
}

.main-body2-description2{
    font-size: 20px;
    font-weight: 400;
}

/* Main Body 3 styles */

.main-body3{
    margin-top: 137px;
}

.main-body3-title{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.main-body3-cards{
    padding: 15px;  
    border-radius: 14px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: left;
}

.main-body3-all-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.main-body3-stars{
    display: flex;
    gap: 4px;
}

.main-body3-stars img{
    width: 24px;
    height: 24px;
}

.main-body3-title1{
    font-size: 24px;
    font-weight: bold;
}

.main-body3-avatar-info{
    display: flex;
    align-items: center;
    gap: 12px;
}

.main-body3-avatar-info img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.main-body3-info-description{
    color: #757575;
    font-weight: bold;
}

.main-body3-info-description1{
    color: #757575;
}


/* Main Body 4 styles */

.main-body4{
    margin-top: 137px;
    text-align: center;
    background-color: white;
    border-radius: 14px;
    margin-right: 150px;
    margin-left: 150px;
}

.main-body4-title{
    padding: 71px 0 0 0;
    font-size: 50px;
    font-weight: bold;
}

.main-body4-description{
    color: black;
    opacity: 0.5;
    margin-top: -20px;
}

.main-body4 button{
    margin-bottom: 20px;
}

.main-body4 img{
    border-radius: 48px;
    margin-bottom: 71px;
}

/* Main Body 5 styles */

.main-body5{
    margin-top: 92px;
    display: flex;
    gap: 115px;
    justify-content: center;
}

.main-body5-text1{
    font-size: 97px;
    font-weight: bolder;
    margin-top: 120px;
}

.main-body5 form label{
    font-size: 18px;
    font-weight: bold;
}

form label{
    display: block;
    margin-top: 16px;
    margin-bottom: 4px;
}

form input, form textarea{
    width: 55%;
    padding: 20px 190px 20px 32px;
    font-size: 20px;
    border-radius: 10px;
    border-style: none;
    margin-top: 4px;

}

textarea::placeholder, input::placeholder{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.secondary-btn{
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #4E47FF;
    padding: 19px 201px 19px 201px;
    border-style: none;
    margin-top: 19px;
}

/* Footer styles */

.footer{
    margin-top: 14px;
    text-align: center;
    background-color: white;
    padding: 104px 450px 104px 450px;
}

.footer h1{
    font-size: 100px;
    font-weight: bold;
}

.footer-description{
    color: #8987A1;
    margin-top: -50px;
    font-size: 20px;
}

.footer-links{
    display: flex;
    justify-content: center;
}

ul{
    list-style: none;
    display: flex;
    gap: 48px;
}

ul li a{
    text-decoration: none;
    color: #8987A1;
}
